@contextColor: #ff4f5b;

* {
    margin: 0;
    padding: 0;
}

body {
  background-color: @contextColor;
}

.page {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 50px;
}

@import url('fonts.less');
@import url('portrait.less');
@import url('my-info.less');
